<% layout("/layouts/boilerplate") -%>
<body>
  <h2>Create New Listing</h2>
  <form action="/listings" method="post">
    <input type="text" name="listing[title]" placeholder="Enter title" />
    <br /><br />
    <textarea
      name="listing[description]"
      placeholder="Enter description"
    ></textarea>
    <br /><br />
    <textarea name="listing[image]" placeholder="Enter image url"></textarea>
    <br /><br />
    <input type="number" name="listing[price]" placeholder="Enter price" />
    <br /><br />
    <input type="text" name="listing[location]" placeholder="Enter location" />
    <br /><br />
    <input type="text" name="listing[country]" placeholder="Enter country" />
    <br /><br />
    <button>ADD</button>
  </form>
</body>
