<% layout("/layouts/boilerplate") -%>
<div class="alert alert-danger" role="alert">
  <h2>Status: <%= status || 500 %></h2>
  <p><%= message %></p>
  <a href="/listings" class="btn btn-primary">Go Back</a>
</div>
