/* BOILERPLATE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
  padding: 2rem;
}

a {
  text-decoration: none !important;
}

/* NAVBAR */

.navbar {
  min-height: 5rem;
  background-color: rgb(255, 255, 255);
}

.fa-airbnb {
  color: rgb(190, 30, 30);
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* FOOTER */

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info {
  text-align: center;
  display: flex;
  background-color: #ebebeb;
  height: 8rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* INDEX LISTINGS */

.card {
  margin-bottom: 2rem;
  border: none !important;
}

.card-img-top {
  height: 15rem !important;
  border-radius: 1rem !important;
}

.card-title,
.card-text,
.card-body {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 1rem;
  text-align: justify;
}

.listing-link {
  text-decoration: none;
}

/* NEW LISTING */

.btn-custom {
  background-color: rgb(190, 30, 30) !important;
  border: none !important;
}

/* Show listing */

.show-img {
  height: 20rem !important;
  margin: 1rem 0 !important;
}

.show-body {
  display: flex;
  justify-content: center;
  align-content: center;
}
